@import "./_override", "./_constants";

.header-section {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 1.8rem 0;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    background: #ffffff;
    a {
        display: inline-block;
        color: #000;
        margin-right: 2rem;
        font-size: 1.3rem;
        font-weight: 500;
        &:nth-child(3) {
            color: #ff6464;
        }
        &:last-child {
            margin-right: 3.75rem;
        }
    }
    .menu-btn,
    .menu-expand {
        display: none;
    }
}
.blog-section {
    padding: 10rem 14rem 0;
    .title-text {
        font-weight: 900;
        color: $primary-text;
        font-size: 2.75rem;
        line-height: 3.75rem;
        margin-bottom: 1.56rem;
    }
    .blogs {
        .blog-detail {
            padding: 2rem 0;
            border-bottom: 1px solid #e0e0e0;
            &:first-child {
                padding-top: 0;
            }
            .text {
                .primary-text {
                    color: $primary-text;
                    font-weight: 700;
                    font-size: 1.87rem;
                    margin-bottom: 0.75rem;
                }
                .time-tag {
                    display: flex;
                    align-items: center;
                    color: $primary-text;
                    font-size: 1.12rem;
                    height: 2.12rem;
                    margin-bottom: 0.75rem;
                    .time {
                        border-right: 1px solid $primary-text;
                        padding-right: 1.5rem;
                    }
                    .tag {
                        padding-left: 1.5rem;
                    }
                }
                .secondary-text {
                    color: $primary-text;
                    font-size: 1rem;
                }
            }
        }
    }
}
.footer-section {
    padding: 3.1rem 9.25rem 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .social {
        display: flex;
        margin-bottom: 1.6rem;
        img:not(img:last-child) {
            margin-right: 2.1rem;
        }
    }
    .coppyright-text {
        color: $primary-text;
        font-size: 0.8rem;
    }
}
@media (max-width: 1200px) {
    .blog-section {
        padding: 7rem 4rem 2rem;
    }
}
@media (max-width: 992px) {
    .blog-section {
        padding: 7rem 2rem 2rem;
    }
}
@media (max-width: 576px) {
    .header-section {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        min-height: 3.1rem;
        height: fit-content;
        > a {
            display: none;
        }
        .menu-btn {
            margin-top: 1.25rem;
            display: inline-block;
            background: transparent;
            img {
                width: 1.8rem;
                height: auto;
                padding: 0;
            }
        }

        .menu-expand {
            display: flex;
            flex-direction: column;
            height: 0;
            transition: all 0.3s ease;
            &.expand {
                height: auto;
                padding: 1rem;
                a {
                    display: inline-block;
                }
            }
            a {
                margin-right: 0;
                text-align: right;
                font-size: 1rem;
                display: none;
            }
        }
    }
    .blog-section {
        padding: 4.6rem 0.75rem 2.4rem;
        .title-text {
            font-size: 1.87rem;
            line-height: 3.75rem;
        }
        .blogs {
            .blog-detail {
                .text {
                    .primary-text {
                        font-size: 1.4rem;
                    }
                    .time-tag .time,
                    .time-tag .tag {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .footer-section {
        padding: 0 3.4rem;
    }
}
